.container {
  width: 80vw; 
  height: 72vh;
  margin: auto;
  display: grid;
  place-content: center;
  text-align: center;
}

.container > h1 {
  color: rgb(66, 66, 66);
  font: italic normal 1.4rem "poppins";
  font-size: 2.3rem;
}

.container > p {
    color: rgb(100, 100, 100);
    font-size: 1.3rem;
}
